{% load wagtailimages_tags menu_tags %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_menu "main" None request.user.is_authenticated LANGUAGE_CODE as navigation %}
{% company_logo as logo %}

        {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
        
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Wagtail Localize Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        {% for item in navigation %}
            {% if not item.is_submenu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{item.url}}">                            
                        {% if item.icon %}
                            {% image item.icon fill-25x25 class="image-menu" %}
                        {% endif %}
                        {{ item.title }}
                    </a>
                </li>
            {% else %}
                {% get_menu item.slug item.page request.user.is_authenticated as submenu %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if item.icon %}
                            {% image item.icon fill-25x25 class="image-menu" %}
                        {% endif %}
                        {{ item.title }}
                    </a>
                    <div class="dropdown-menu">
                        {% for subitem in submenu %}
                            {% if not subitem.is_submenu %}
                                <a class="dropdown-item" href="{{subitem.url}}">
                                    {% if subitem.icon %}
                                        {% image subitem.icon fill-25x25 class="image-menu" %}
                                    {% endif %}
                                    {{ subitem.title }}
                                </a>
                            {% else %}
                                {% get_menu subitem.slug None request.user.is_authenticated as subsubmenu %}
                                <div class="dropright"> 
                                <button class="btn btn-dark bg-transparent dropdown-toggle" data-toggle="dropdown">
                                    {% if subitem.icon %}
                                        {% image subitem.icon fill-25x25 class="image-menu" %}
                                        {% endif %}
                                    {{ subitem.title }}
                                </button>
                                <div class="dropdown-menu dropdown-menu-left">
                                    {% for subitem in subsubmenu %}
                                        {% if not subitem.is_submenu %}
                                            <a class="dropdown-item" href="{{subitem.url}}">
                                                {% if subitem.icon %}
                                                    {% image subitem.icon fill-25x25 class="image-menu" %}
                                                {% endif %}
                                                {{ subitem.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                            {% endif %}
                            {% if subitem.divider %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="{% get_lang_flag LANGUAGE_CODE %}">
            </a>
            <div class="dropdown-menu">
                {% language_switcher LANGUAGE_CODE as langs %}
                {% for lang in langs %}
                    <a class="dropdown-item" href="{{ lang.url }}">
                        <img src="{{ lang.flag }}">
                        {{ lang.language }}
                    </a>
                {% endfor %}
            </div>
        </li>       
    </ul>
 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropright button').on("click", function(e) {
            e.stopPropagation();
            e.preventDefault();

            if (!$(this).next('div').hasClass('show')) {
            $(this).next('div').addClass('show');
            } else {
            $(this).next('div').removeClass('show');
            }
        });
    });
</script>