{% load wagtailimages_tags menu_tags %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% company_logo as logo %}

<link rel="stylesheet" href="{% static '/css/menu.css'%}">

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wagtail Localize Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% get_menu 1 LANGUAGE_CODE as main_menu %}
            {% if main_menu %}
                {% get_menu_items main_menu request as navigation %}
                {% for item in navigation %}
                    {% if not item.is_submenu %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{item.url}}">                            
                                {% if item.icon %}
                                    {% image item.icon fill-25x25 class="image-menu" %}
                                {% endif %}
                                {{ item.title }}
                            </a>
                        </li>
                    {% else %}
                        {% get_menu item.submenu_id LANGUAGE_CODE as sub_menu %}
                        {% if sub_menu %}
                            {% get_menu_items sub_menu request as sub_menu_items %}
                            {% if sub_menu_items %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {% if item.display_option != 'text' and sub_menu.icon %}
                                            {% image sub_menu.icon fill-25x25 class="image-menu" %}
                                        {% endif %}
                                        {% if item.display_option != 'icon'%}
                                            {{ sub_menu.title }}
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu">
                                        {% for subitem in sub_menu_items %}
                                            {% if not subitem.is_submenu %}
                                                <a class="dropdown-item" href="{{subitem.url}}">
                                                    {{ subitem.title }}
                                                </a>
                                            {% else %}
                                                {% get_menu subitem.submenu_id LANGUAGE_CODE as subsubmenu %}
                                                {% if subsubmenu %}
                                                    {% get_menu_items subsubmenu request as sub_sub_menu_items %}
                                                    {% if sub_sub_menu_items %}
                                                        <div class="dropright"> 
                                                            <button class="btn btn-dark bg-transparent dropdown-toggle" data-toggle="dropdown">
                                                                {% if subitem.display_option != 'text' and subsubmenu.icon %}
                                                                    {% image subsubmenu.icon fill-25x25 %}
                                                                {% endif %}
                                                                {% if subitem.display_option != 'icon'%}
                                                                    {{ subsubmenu.title }}
                                                                {% endif %}
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                {% for subitem in sub_sub_menu_items %}
                                                                    {% if not subitem.is_submenu %}
                                                                        <a class="dropdown-item" href="{{subitem.url}}">
                                                                            {{ subitem.title }}
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if subitem.divider %}
                                                <div class="dropdown-divider"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% comment %} 
    Language switcher:
    Flag of currently selected language displayed on drop down menu heading
    language_switcher menu tag iterates through site locales, finds equivalent url for each locale
    Template code loops through results, adds menu item flag + locale name + link to equiv page
    Assumes image for each language uploaded to Wagtail with title 'flag-lang_code' (eg flag-en, flag-fr etc)
    {% endcomment %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto pb-2">    
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% get_lang_flag LANGUAGE_CODE as flag %}
                    {% image flag fill-16x11 class="image-menu" %}
                </a>
                <div class="dropdown-menu">
                    {% language_switcher self LANGUAGE_CODE as langs %}
                    {% for lang in langs %}
                        <a class="dropdown-item" href="{{ lang.url }}">
                            {% image lang.flag fill-16x11 class="image-menu" %}&nbsp
                            {{ lang.language }}
                        </a>
                        {{ lang.alternate | safe}}
                    {% endfor %}
                </div>
            </li>       
        </ul>
    
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropright button').on("click", function(e) {
            e.stopPropagation();
            e.preventDefault();

            if (!$(this).next('div').hasClass('show')) {
            $(this).next('div').addClass('show');
            } else {
            $(this).next('div').removeClass('show');
            }
        });
    });
</script>